.carouselimg {
	width: 100%;
	// height: auto;
	// height: 95vh;

	object-fit: contain;
	// min-height: 740px;
	overflow: hidden;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover,
	&:active {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.carouselButtons,
#carouselButtons {
	// position: absolute;
	top: 0px !important;
	height: 100%;
	border-radius: 0px;
	background-color: transparent;
}
