body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "VAGBold";
	src: local("VAGBold"), url("./Assets/font/VAG_Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: "VAGLight";
	src: local("VAGLight"), url("./Assets/font/VAG_Light.otf") format("opentype");
	font-weight: light;
}

@font-face {
	font-family: "VAGRegular";
	src: local("VAGRegular"),
		url("./Assets/font/VAG_Regular.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: "TenoriteRegular";
	src: local("TenoriteRegular"),
		url("./Assets/font/Tenorite_Regular.ttf") format("truetype");
}

@font-face {
	font-family: "TenoriteBold";
	src: local("TenoriteBold"),
		url("./Assets/font/Tenorite_Bold.ttf") format("truetype");
}

@font-face {
	font-family: "TenoriteItalic";
	src: local("TenoriteItalic"),
		url("./Assets/font/Tenorite_Regular_Italic.ttf") format("truetype");
}

@font-face {
	font-family: "TenoriteBoldItalic";
	src: local("TenoriteBoldItalic"),
		url("./Assets/font/Tenorite_Bold_Italic.ttf") format("truetype");
}
